@model PrivateTutorOnline.Models.ViewModels.SidebarViewModel
<div class="row"> 
    <!-- It can be fixed with bootstrap affix http://getbootstrap.com/javascript/#affix-->
    <div id="sidebar" class="well sidebar-nav">
        
        <h5> 
            <b>Gia sư các môn</b>
        </h5>
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Model.Subjects)
            {
                <li>@Html.ActionLink("Gia sư môn " + item.Name, "SearchBySubject", "Tutors", new { SubjectId = item.Id } , null)</li>
            }  
        </ul>
        <h5> 
             <b>Dạy Kèm</b>
        </h5>
        <ul class="nav nav-pills nav-stacked">
             @foreach (var item in Model.Grades)
            {
                <li>@Html.ActionLink("Gia sư lớp " + item.Name, "SearchByGrade", "Tutors", new { GradeId = item.Id }, null)</li>
             }  
        </ul>
    </div> 
</div>