
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("FindingTutorOnline", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Đăng kí tìm gia sư", "ClassRegistrationForm", "Class")</li>
                <li>@Html.ActionLink("Đăng Kí Làm Gia Sư", "TutorRegistrationForm", "Tutors")</li>
                <li>@Html.ActionLink("Gia Sư Hiện Có", "ExistingTutorsList", "Tutors")</li>
                <li><a href="#" data-toggle="modal" data-target="#register-modal">Đăng kí tài khoản</a></li>
                <li><a href="#" data-toggle="modal" data-target="#login-modal">Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</div>